
psycopg[binary]
python-dotenv
langchain
langchain-community
langchain-brightdata
langchain[openai]
langchain[google-genai]
langgraph
redis
apify_client
Django
Celery 
Django-qstash
django-celery-results
django-celery-beat
dj-database-url
Django-redis
dj_database_url